{% extends 'network/layout.html' %}
{% load static %}
{% block body %}
    <div style="height: 80px; position: fixed; z-index: 1; width: 100%">
        <nav class="" style="height: 60px">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <a href="/" class="col-2 nav-left">
                            <span style="font-size: 15px; font-weight: 500">CS50</span>
                            <span style="font-size: 18px; font-weight: 600">Network</span>
                        </a>
                        <div class="col-6 nav-middle">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-text search"><i class="fas fa-search"
                                                                         style="color: #565dea"></i></span>
                            </div>
                        </div>
                        <div class="col-4 nav-right">
                            <div class="d-flex col-6 logged-user">
                                <div class="me-2">
                                    <div class="username" style="font-size: 15px">
                                        <a href="{% url 'profile' request.user %}">{{ request.user }}</a>
                                    </div>
                                    <div class="post-date" style="font-size: 13px">
                                        <a href="{% url 'logout' %}" style="color: #798690;">Sign out</a>
                                    </div>
                                </div>
                                <div class="avatar">
                                    <img src="https://i.pinimg.com/236x/06/25/ce/0625ce8e263f699e33d27d9d09f87268.jpg"
                                         width="40" height="40">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container main-body">
        <div class="row">
            <div class="col-sm-2 left" style="height: 100%; position: sticky; top: 80px;">
                <div class="global-card">
                    <div class="card-title">
                        <h3>Saigon, 30<span>&#176;</span>C
                            <i class="fas fa-cloud-sun-rain ms-2"></i>
                        </h3>
                    </div>
                    <ul>
                        <li>
                            <div id="nav-all-posts" class="navigate-menu-item">
                                <div class="navigate-icon"><i class="fas fa-seedling"></i></div>
                                <div class="navigate-text">All posts</div>
                            </div>
                        </li>
                        <li>
                            <div id="nav-following-posts" class="navigate-menu-item">
                                <div class="navigate-icon"><i class="fas fa-paw"></i></div>
                                <div class="navigate-text">Following</div>
                            </div>
                        </li>
                        <li>
                            {#                            <a id="nav-profile" href="{% url 'profile' request.user %}" class="navigate-menu-item">#}
                            {#                                <div class="navigate-icon"><i class="fas fa-user"></i></div>#}
                            {#                                <div class="navigate-text">Profile</div>#}
                            {#                            </a>#}
                            <div id="nav-profile" class="navigate-menu-item">
                                <div class="navigate-icon"><i class="fas fa-user"></i></div>
                                <div class="navigate-text">Profile</div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="navigate-menu-item">
                                <div class="navigate-icon"><i class="fas fa-sliders-h"></i></div>
                                <div class="navigate-text">Settings</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 middle">
                <!-- Profile -->
                <div id='profile-view'></div>

                <!-- Compose a post -->
                <div id='compose-view' class="global-card post-composer">
                    <form>
                        <div class="post-box">
                            <textarea id="" placeholder="What's up?"></textarea>
                        </div>
                        <div class="form-footer d-flex justify-content-between">
                            <div class="action-bar d-flex">
                                <div class="me-3">
                                    <i class="far fa-smile-wink theme"></i>
                                    <span>Emoji</span>
                                </div>
                                <div class="me-3">
                                    <i class="fas fa-camera theme"></i>
                                    <span>Image</span>
                                </div>
                                <div>
                                    <i class="fas fa-clock theme"></i>
                                    <span>Schedule</span>
                                </div>
                            </div>
                            <div style="text-align: right; padding-top: 10px">
                                <input type="submit" value="Post">
                            </div>
                        </div>

                    </form>
                </div>

                <!-- All post view -->
                <div id="all-post-view"></div>
            </div>

            <div class="col-sm-4 right" style="height: 100%; position: sticky; top: 80px;">
                <div class="global-card">
                    <div class="global-card-title" id="test"><h3 style="margin-bottom: 5px">What's happening</h3></div>
                    <div class="global-card-body">
                        <a href="#" class="news-link">
                            <div style="padding-top: 5px">
                                <img src="https://i.pinimg.com/236x/b0/b6/7d/b0b67d365968a82b173811d3718106d1.jpg">
                            </div>
                            <div class="news">
                                <div class="news-info">
                                    Covid · Top search
                                </div>
                                <div class="headline">NO MASK NO ENTER</div>
                                <div class="text-content">
                                    Seriously. It's that simple ¯\_(ツ)_/¯
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news-link">
                            <div style="padding-top: 5px">
                                <img src="https://i.pinimg.com/564x/86/6b/3e/866b3e8077c1459dae723e1b4040e271.jpg">
                            </div>
                            <div class="news">
                                <div class="news-info">
                                    Pets · Trending
                                </div>
                                <div class="headline theme">#cats</div>
                                <div class="text-content">
                                    Smelly Cat, Smelly Cat, What are they feeding you?
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news-link">
                            <div style="padding-top: 5px">
                                <img src="https://i.pinimg.com/564x/6e/a2/f5/6ea2f5937eddf8b2c24a87b97f69a30d.jpg">
                            </div>
                            <div class="news">
                                <div class="news-info">
                                    LGBT · Recent
                                </div>
                                <div class="headline theme">#pridemonth</div>
                                <div class="text-content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a augue sagittis,
                                    venenatis ante et, blandit tortor.
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news-link no-border">
                            <div style="padding-top: 5px">
                                <img src="https://i.pinimg.com/564x/2b/e4/fc/2be4fc225d5809ba47a8fa8f8742ec12.jpg"
                                     alt="">
                            </div>
                            <div class="news">
                                <div class="news-info">
                                    Health · Trending
                                </div>
                                <div class="headline">Take care of your mental health</div>
                                <div class="text-content">
                                    Don't complain when someone is complaining to you :)
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="global-card">
                    <div class="global-card-title"><h3>Who to follow</h3></div>
                    <div class="global-card-body row">
                        <div class="d-flex col-6 mb-3">
                            <div class="avatar">
                                <img src="https://pbs.twimg.com/profile_images/1138504682865926144/Km7uuVsw_400x400.png"
                                     width="40" height="40">
                            </div>
                            <div class="ms-2">
                                <div class="username" style="font-size: 15px">
                                    <span class="me-1">tomnook</span>
                                    <i class="fas fa-check-circle theme"></i>
                                </div>
                                <div class="post-date" style="font-size: 13px">
                                    <span class="me-1">Follow</span>
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex col-6 mb-3">
                            <div class="avatar">
                                <img src="https://i.pinimg.com/236x/06/25/ce/0625ce8e263f699e33d27d9d09f87268.jpg"
                                     width="40" height="40">
                            </div>
                            <div class="ms-2">
                                <div class="username" style="font-size: 15px">
                                    <span class="me-1">KikiShipper</span>
                                    <i class="fas fa-check-circle theme"></i>
                                </div>
                                <div class="post-date" style="font-size: 13px">
                                    <span class="me-1">Follow</span>
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex col-6 mb-3">
                            <div class="avatar">
                                <img src="https://i.pinimg.com/236x/7a/13/bd/7a13bd9851f2db5e9b30d6b03212ef16.jpg"
                                     width="40" height="40">
                            </div>
                            <div class="ms-2">
                                <div class="username" style="font-size: 15px">blackcat</div>
                                <div class="post-date" style="font-size: 13px">
                                    <span class="me-1">Follow</span>
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex col-6 mb-3">
                            <div class="avatar">
                                <img src="https://i.pinimg.com/564x/18/30/14/183014995c5668fc414f8c420e3c2e1d.jpg"
                                     width="40" height="40">
                            </div>
                            <div class="ms-2">
                                <div class="username" style="font-size: 15px">karateGAL</div>
                                <div class="post-date" style="font-size: 13px">
                                    <span class="me-1">Follow</span>
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}